@import "https://cdn.jsdelivr.net/npm/tailwindcss@3.4.1/base.css";
@import "https://cdn.jsdelivr.net/npm/tailwindcss@3.4.1/components.css";
@import "https://cdn.jsdelivr.net/npm/tailwindcss@3.4.1/utilities.css";

body {
  background-color: #0f172a;
  color: #f8fafc;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
